config.yaml
# Local Go build output
backend/backend
# DB dumps
backup-charmsdb-*.sql*
.vscode/
# Notes to myself
notes.txt
# Ignore local npm modules
node_modules/*
package.json
package-lock.json
# Tag annotation script
tag.sh
# Project notes
TODO.md
# ai resume
resume.sh
# Production secrets
.env.prod
